@font-face {
    font-family: 'GillSansUltraBold';
    src: url('../fonts/GillSansUltraBold.eot');
    src: url('../fonts/GillSansUltraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansUltraBold.woff') format('woff'),url('../fonts/GillSansUltraBold.woff2') format('woff2'), url('../fonts/GillSansUltraBold.ttf') format('truetype'), url('../fonts/GillSansUltraBold.svg') format('svg');
}